<div container class="contenedor">
  <div class="d-flex">
    <mat-form-field class="matWidth">
      <div class="title m-3 text-center">Usuario</div>
      <input class="textContent" type="text" matInput />
    </mat-form-field>
  </div>
  <div class="d-flex">
    <mat-form-field class="matWidth">
      <div class="title m-3 text-center">Clave</div>
      <input class="textContent" type="text" matInput />
    </mat-form-field>
  </div>
  <div class="d-flex">
    <button class="icon" (click)="login()">
      <img src="../../assets/images/outlook-icon.png" width="60" />
    </button>
    <button class="button" (click)="login()">Ingresar</button>
    <button class="icon" (click)="login()">
      <img src="../../assets/images/google-icon.png" width="60" />
    </button>
  </div>
</div>
