<div container>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5 contenedor">
      <mat-form-field class="matWidth">
        <div class="title mb-3">Usuario</div>
        <input class="textContent" type="text" matInput />
      </mat-form-field>
      <mat-form-field class="matWidth">
        <div class="title mb-3">Correo</div>
        <input class="textContent" type="text" matInput />
      </mat-form-field>
      <mat-form-field class="matWidth">
        <div class="title mb-3">Fecha de Nacimiento</div>
        <input class="textContent" type="text" matInput />
      </mat-form-field>
      <div class="row mt-5">
        <button (click)="home()" class="button m-3">Guardar</button>
        <button (click)="home()" class="button m-3">Cancelar</button>
      </div>
    </div>
    <div class="col-4"></div>
    <div class="col-1 d-flex align-items-end mb-5">
      <button class="icon" (click)="login()">
        <img src="../../assets/images/salir.png" width="60" />
      </button>
    </div>
  </div>
</div>
