<div container>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3 d-flex flex-column contenedor">
      <button (click)="user()" class="button mt-3">Editar Usuario</button>
      <button (click)="password()" class="button mt-3">Cambiar Clave</button>
      <button (click)="pomodoro()" class="button mt-3">
        Eiquetas Pomodoro
      </button>
      <button (click)="recordings()" class="button mt-3">Grabadora</button>
    </div>
    <div class="col-6"></div>
    <div class="col-1 d-flex align-items-end mb-5">
      <button class="icon" (click)="login()">
        <img src="../../assets/images/salir.png" width="60" />
      </button>
    </div>
  </div>
</div>
